.card-styles{
  margin-bottom: 15px;
  font-family: Inter !important;
}

.card-styles{
  margin-bottom: 15px;
  font-family: Inter !important;
}

.title-styles{
  color: #8C8C8C !important;
  font-weight: normal !important;
  font-family: Inter !important;
}